.sidebarDiv{
  width: 200px;
  height: 100%;
  display: inline-block;
  /* border: solid 1px red; */
}

.titleDiv{
  height: 10%;
  background-color: #598AFF;
  text-align: center;
  font-family: 'console';
  font-size: large;
}
